/* GENERAL RULES */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 150px;
}

input:focus {
    outline: none !important;
    border-color: #93989e !important;
    box-shadow: 0 0 10px #93989e !important;
}
textarea:focus {
    outline: none !important;
    border-color: #93989e !important;
    box-shadow: 0 0 10px #93989e !important;
}

select:focus {
    outline: none !important;
    border-color: #93989e !important;
    box-shadow: 0 0 10px #93989e !important;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #990033 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #343434;
}

a {
	color: #343434 !important;
	font-weight: bold;
	text-decoration: none;
}

a:visited, nav-link {
	color: #438093 !important;
	font-weight: bold;
	text-decoration: none;
}

a:hover, nav-link {
	color: #990033 !important;
	text-decoration: underline !important;
}

a:focus {
	color: #990033;
}

a:active {
	color: #990033;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}

.remove-all-margin-padding {
	margin: 0 ! important;
	padding: 0 ! important;
}

.btn-subscribe {
	margin-top: 15px;
}

/* MOBILE HEADER */

@media (min-width: 992px) {
	.logomargin {
		max-height: 76px;
		max-width: 177px;
		margin: 7px 5px 0 0;
	}
	.whiteline {
		width: 100%;
		/* Line width */
		background-color: white;
		/* Line color */
		height: 1px;
		/* Override in-line if you want specific height. */
		position: absolute;
		top: 64px;
	}

	.firstOverlayLine {
		position: absolute;
		display: block;
		height: 36px;
		width: 100%;
		background: #e5e6e6;
		top: 64px;
		z-index: -1;
		border-top: 1px solid white;
	}
	.colorline {
		margin-top: -5px;
	}
	.navbarlocation {
		position: absolute;
		left: 4.5%;
		right: 25%;
		top: 50px;
		display: block;
		z-index: 100000;
	}
}
/* Jars Description */

.jars-description {
	text-align: center;
}

/* NAV LINKS */

.nav-link {
	padding-top: .65rem;
	padding-bottom: .75rem;
	font-size: .975rem;
	color: #343434 !important;
}

/*
 * Blog header
 */

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

/*
 * Blog
 */

.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}

.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media (min-width: 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}

/*
 * Blog posts
 */

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

/*
 * Footer
 */

.blog-footer {
	color: #999;
	background-color: #e5e6e6;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

/*
 * Thank you page
 */

.thankyou {
	margin-bottom: 19vh;
}

#wishlist {

z-index: 999999;
}
