{% extends "home/base.html" %}

{% block content %}
<div class="container py-4">




<div class="row">
  <div class="col-md-8">
      <div class="col-md-12">
         <div class="row">
  <div class="col-md-8"><img src="/media/{{ jar.0.jar_image }}" height="425px" width="425px" alt="" class="mr-2 jar-img-album"></div>

  <div class="col-md-4 my-auto"><h3 id="jar-title" class="jar-title">{{ jar.0.jar_name }}</h3>
    <h6>Decorator: {{ jar.0.decorator }}</h6>
      <p class="description" >{{ jar.0.comment }}</p>
      <input type="submit" id="buyjar" value="Buy" class="btn btn-large btn-outline-secondary btn-subscribe" />
      <input type="submit" id="addwishlist" value="Add to Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist"/>
      <input type="submit" id="viewwishlist" value="View Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist_items"/>
      <input id="jarnumber" hidden value="{{ jar.0.jar_number }}">
  </div>
</div>
     </div>



    <div class="col-xs-12 py-4">
<ul id="light-slider">
    {% for image in jar %}
                <li class="getid">
                <img src="/media/{{ image.jar_image }}"  id="{{ image.jar_name }}" alt="{{ image.comment }}" class="rounded img-fluid">
                <input hidden value="{{ image.jar_number }}">
                </li>
    {% endfor %}



</ul>
  <button type="button" id="goToPrevSlide" class="btn btn-outline-secondary btn-subscribe">Prev</button>
   <button type="button" id="goToNextSlide" class="btn btn-outline-secondary btn-subscribe">Next</button>


      </div>
  </div>





     <div class="col-md-4">
    		<div class="thumbnail center well well-sm text-center">
                <h2>Newsletter</h2>
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                  {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-light" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}


                <form enctype="multipart/form-data" method="post" action="/newsletter/newsletter/subscribe/">
{% csrf_token %}
<input type="email" class="form-control" name="email_field" required="" placeholder="Email" id="id_email_field">
<button id="id_submit" name="submit" class="btn btn-large btn-outline-secondary btn-subscribe" value="Subscribe" type="submit">Subscribe</button>
</form>
            </div>


             <div class="d-flex align-items-center  text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Havaso</h6>

        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

          {% for post in posts %}
          <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{ post.title }}</strong>
            {{ post.content|striptags|truncatewords:20 }}
          </p>
        </div>
          {% endfor %}

        <small class="d-block text-right mt-3">
          <a href="#">All updates</a>
        </small>
      </div>



        </div>
</div>



    </div>

<!-- Modal -->
<div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="wishlist" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Added to your wishlist!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


<div class="modal-body">
  <div class="container-fluid">
<div class="row">



      <div class="col-md-12">
         <div class="row">
  <div class="col-md-8"><img src="/media/{{ jar.0.jar_image }}" height="425px" width="425px" alt="" class="mr-2 jar-img-album"></div>

  <div class="col-md-4 my-auto"><h3 class="jar-title">{{ jar.0.jar_title }}</h3>
    <h5>Description</h5>
      <p class="description">{{ jar.0.comment }}</p>
      <input type="submit" value="Go to my Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist"/>

  </div>
</div>
     </div>


    </div>
  </div>
</div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="wishlist_items" tabindex="-1" role="dialog" aria-labelledby="wishlist" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">My wishlist!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body">

    <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Dada</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Toto</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Titi</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}