{% extends "home/base.html" %}
{% block content %}
<div class='container' fluid-width >
<div class="row">
    <div class="col-6">
    <form id="contact-form" method="post" action="/contact2/" role="form">
        <div class="messages"></div>
            <h3>Contact us</h3>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_table}}
                    </div>
                    {% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                    <p class="text-muted">
                        <strong>*</strong> These fields are required.
    </form>
</div>
<div class="col-6">
                <div class="contact">
                    {{ PageContent.text }}
                </div>
            </div>
</div>
<div class="row">
<div class="col-12">
        {{ PageContent2.text }}
    </div>
</div></div>
</div>

{% endblock %}