<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hi,</p>

<p>You (or someone using your email address, so hopefully you) have made a wish list of potential Medicine Jars on our
    website. To review your wish list click here: <a href="http://{{ link }}"><strong>Go to Wishlist</strong></a>

<br>
<p> If you can't click the link above please copy this website: http://{{ link }} </p>
<br>
<p>The wish list is not meant as a means to reserve any jar. It’s possible one or more of the jars on your list will be
    sold by the time you revisit our website, so don’t wait to long to make your choice. You are free to make as many
    wish lists as you like and please feel free to forward your wish list to friends and family.</p>

<p>Your wish list will be accessible for 30 days. After those 30 days we will delete the list and the associated email. If
you haven’t subscribed to our newsletter yet, you can do so here: Link to subscription page. Subscribing means you to
    stay up to date about new arrivals in the store and additions to our <a href="http://havaso.com/blog/"><strong>Stories.</strong></a></p>
<p>
Regards,
</p>
<p>Gyske & Lilian</p>
<p>The CNG/havaso Team.</p>
</body>
</html>