<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hi,</p>

<p>A few weeks ago you (or someone using your email address) made a wish list of Medicine Jars on our website. We’d like to
    remind you this list will expire in 7 days.</p>

<p>To review your wish list click here: <a href="{{ link }}">Go to Wishlist</a></p>

<p>It’s possible one or more of the jars on your list are sold when you revisit our website. The wish list isn’t a
reservation list, but we may have added new jars, so make sure to visit the album too (link to album). You always can
make a new list (or even multiple). Want to share one or more jars with family? Simply forward them your wish list.</p>

<p>Unless you’ve subscribed to our newsletter you won’t hear from us again. We will remove your email address when we
    remove your wish list in 7 days. Until then you can see your wish list here:</p>

<p><a href="{{ link }}">Go to Wishlist</a></p>

<p>
Regards,
</p>
<p>Gyske & Lilian</p>
<p>The CNG/havaso Team.</p>
</body>
</html>