<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static 'home/assets/img/favicon.ico' %}">

    {% if title %}
    <title>Medicine Jars - {{ title }}</title>
    {% else %}
    <title>Medicine Jars</title>
    {% endif %}
    <!-- Bootstrap core CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'home/assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'home/assets/css/shop.css' %}" rel="stylesheet">

    <style>

@font-face {
    font-family: GraublauWeb;
    src: url("{% static 'home/assets/font/TektonPro-Regular.otf' %}") format("opentype");
}


    </style>

</head>

<body>
<header>


    <div class="float-right logomargin"><img src="{% static 'home/assets/img/Logo.png' %}" alt="placeholder 960"
                                             class="img-fluid"/></div>
    <div class="whiteline"></div>
    <nav style="font-family: GraublauWeb;" class="navbar navbar-expand-lg navbar-light navbarlocation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<div class="row">

        <div class="collapse navbar-collapse" id="navbarsExample08">
            <ul class="navbar-nav align-items-start">
                {% with url_name=request.resolver_match.url_name %}
                  <!--
                <li class="nav-item {% if url_name == 'havaso-home' %}active{% endif %}">
                    <a class="nav-link" href="/">Company<span class="sr-only"></span></a>
                </li>
                 -->

                <li class="nav-item {% if url_name == 'cng' %}active{% endif %}">
                    <a class="nav-link" href="/cng">CNG</a>
                </li>

                <li class="nav-item  {% if url_name == 'havaso-blog' %}active{% endif %}">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                {% endwith %}
            </ul>
        </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample08">
              <ul class="navbar-nav justify-content-end ">
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
    </div>
</div>
    </nav>
    <div class="col-md-12 remove-all-margin-padding">
        <div id="preview-image-wrapper">
            <span class="firstOverlayLine"></span>
            <img src="{% static 'home/assets/img/ColouredLine.png' %}" alt="placeholder 960"
                 class="img-fluid w-100 colorline"/>
        </div>
    </div>


</header>

{% block content %}{% endblock %}

{% include "home/footer.html" %}
</body>
</html>