{% extends "blog/base2.html" %}

{% block content %}
<div class="container py-4">




<div class="row">
  <div class="col-md-8">

{% if single  %}


          <div class="col-xs-12 py-4">
        <h1>{{ post.title }}</h1>
        <p class="text-muted" align="right">{{ post.author }} {{ post.date_posted }}</p>
        <img src='/media/{{ post.featured_image }}' class="p-3" height="250px" align='left' />

        {{ post.content|safe }}

      </div>
  </div>


{% else %}

{% for post in posts %}
            <div class="col-md-5">
              <div class="card mb-4 shadow-sm blogpost">
                  <a href="/blog?post={{ post.slug }}"><img class="card-img-top" src="/media/{{ post.featured_image }}" width="50px" alt="Card image cap"></a>
                <div class="card-body">
                    <a style="text-decoration: none;" href="/blog?post={{ post.slug }}"> <h4 class="card-text">{{ post.title }}</h4></a>
                    <a style="text-decoration: none;" href="/blog?post={{ post.slug }}"> <div class="card-text flex-column" style="height: 100px;">{{ post.content|safe|truncatewords:10 }}</div></a>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/blog?post={{ post.slug }}"><button type="button" class="btn btn-sm btn-outline-secondary">Read</button></a>
                    </div>
                    <small class="text-muted">Written by {{ post.author }} </small>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
</div>
 {% endif %}


     <div class="col-md-4">



             <div class="d-flex align-items-center  text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">

        </div>
      </div>

      {% include "blog/updates.html" with posts=posts %}



        </div>
</div>



    </div>

<!-- Modal -->
<div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="wishlist" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Added to your wishlist!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


<div class="modal-body">
  <div class="container-fluid">
<div class="row">



      <div class="col-md-12">
         <div class="row">
  <div class="col-md-8"><img src="/media/{{ jar.0.jar_image }}" height="425px" width="425px" alt="" class="mr-2 jar-img-album"></div>

  <div class="col-md-4 my-auto"><h3 class="jar-title">{{ jar.0.jar_title }}</h3>
    <h5>Description</h5>
      <p class="description">{{ jar.0.comment }}</p>
      <input type="submit" value="Go to my Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist"/>

  </div>
</div>
     </div>


    </div>
  </div>
</div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="wishlist_items" tabindex="-1" role="dialog" aria-labelledby="wishlist" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">My wishlist!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body">

    <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id="wishlisttable">


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}