{% load i18n %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Subscription to {{ title }}{% endblocktrans %}
</title>
</head>
<body>
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.subscribe_activate_url %}
Hello!
If you would like to confirm your subscription, please follow this activation link:
http://{{ domain }}{{ url }}

<br>
Kind regards,{% endblocktrans %}
<br>
{{ newsletter.sender }}
</body>
</html>
