{% extends "home/base.html" %}

{% block content %}
<div class="container py-4">




<div class="row">
  <div class="col-md-8">
      <div class="col-md-12">
         <div class="row">
  <div class="col-md-8"><img src="/media/{{ jar.0.jar_image }}" height="425px" width="425px" alt="" class="mr-2 jar-img-album"></div>

  <div class="col-md-4 my-auto"><h3 id="jar-title" class="jar-title">{{ jar.0.jar_name }}</h3>
    <h6 id="decorator">Decorator: {{ jar.0.decorator }}</h6>
      <p class="description" >{{ jar.0.comment }}</p>
      <button id="jarnumber" value="{{ jar.0.jar_number }}" class="btn btn-large btn-outline-secondary btn-subscribe buyjar">Buy</button>
      <input type="submit" id="addwishlist" value="Add to Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist"/>
      <input type="submit" id="viewwishlist" value="View Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist_items"/>
  </div>
</div>
     </div>



    <div class="col-xs-12 py-4">
<ul id="light-slider">
    {% for image in jar %}
                <li class="getid">
                <img src="/media/{{ image.jar_image }}"  id="{{ image.jar_name }}" alt="{{ image.comment }}" class="rounded img-fluid">
                <input hidden value="{{ image.jar_number }}"> <input class="decorator" hidden value="{{ image.decorator }}">
                </li>
    {% endfor %}



</ul>
  <button type="button" id="goToPrevSlide" class="btn btn-outline-secondary btn-subscribe">Prev</button>
   <button type="button" id="goToNextSlide" class="btn btn-outline-secondary btn-subscribe">Next</button>


      </div>
  </div>





     <div class="col-md-4">
    		<div class="thumbnail center well well-sm text-center">
                <h2>Newsletter</h2>
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                  {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-light" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}


                <form enctype="multipart/form-data" method="post" action="/newsletter/newsletter/subscribe/">
{% csrf_token %}
<input type="email" class="form-control" name="email_field" required="" placeholder="Email" id="id_email_field">
<button id="id_submit" name="submit" class="btn btn-large btn-outline-secondary btn-subscribe" value="Subscribe" type="submit">Subscribe</button>
</form>
            </div>


             <div class="d-flex align-items-center  text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Havaso</h6>

        </div>
      </div>

{% include "blog/updates.html" with posts=posts %}



        </div>
</div>

    </div>

<!-- Modal -->
<div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="wishlist" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Added to your wishlist!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                 <div class="row">
                    <div class="col-md-8"><img src="/media/{{ jar.0.jar_image }}" height="425px" width="425px" alt="" class="mr-2 jar-img-album"></div>
                    <div class="col-md-4 my-auto"><h3 class="jar-title">{{ jar.0.jar_title }}</h3>
                        <h5>Description</h5>
                        <p class="description">{{ jar.0.comment }}</p>
                        <input type="submit" value="Go to my Wishlist" class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal" data-target="#wishlist"/>
                    </div>
                </div>
             </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
             <form class="form-inline sendwishlistemail" enctype="multipart/form-data" method="post" action="/wishlist/emailwishlist/">
            {% csrf_token %}
              <div class="form-group m-2">
                <input type="text" readonly class="form-control-plaintext" value="Email my wishlist.">
              </div>
              <div class="form-group mx-sm-3 m-2">
                <input type="email" name="mail" class="form-control" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-primary m-2">Send</button>
            <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Close</button>
        </form>
      </div>
       <div class="alert alert-primary wishlist-alert" hidden role="alert">
             </div>
    </div>
  </div>
</div>


{% include "wishlist/wishlistmodal.html" %}

{% endblock %}