{% extends "home/base.html" %}

{% block content %}
<div class="p-4">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 .offset-md-2">
                        <div style="height:400px; display: flex; justify-content: center; align-items: center;"><img src="/media/{{ jar.0.jar_image }}" alt="" class="ml-2 jar-img-album img-fluid justify-content-center align-items-center"></div>
                    </div>
                    <div class="col-md-4 my-auto"><h4 id="jar-title" class="jar-title"> Jar Name: {{ jar.0.jar_name }}</h4>
                        <h6 id="decorator">Decorator: {{ jar.0.decorator }}</h6>
                        <p class="description">{{ jar.0.comment }}</p>

                        {% with url_name=request.resolver_match.url_name %}
                        <div class="buttons-bottom">
                        {% if url_name == 'album' %}


                        {% if jar.0.jar_status == 'Available' %}
                        <button id="jarnumber" value="{{ jar.0.jar_number }}"
                                class="btn btn-large btn-outline-secondary btn-subscribe buyjar">Buy
                        </button>
                         <input type="submit" id="addwishlist" value="Add to Wishlist"
                               class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal"
                               data-target="#wishlist"/>
                        {% else %}
                        <button id="jarnumber" disabled value="{{ jar.0.jar_number }}"
                                class="btn btn-large btn-outline-secondary btn-subscribe buyjar">SOLD
                        </button>
                         <input type="submit" disabled id="addwishlist" value="Add to Wishlist"
                               class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal"
                               data-target="#wishlist"/>
                        {% endif %}
                        <input type="submit" id="viewwishlist" value="View Wishlist"
                               class="btn btn-large btn-outline-secondary btn-subscribe" data-toggle="modal"
                               data-target="#wishlist_items"/>
                        {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </div>


            <div class="col-md-12 py-2">
                <ul id="light-slider">
                    {% for image in jar %}
                    <li class="getid">
                        <img src="/media/{{ image.jar_image }}" id="{{ image.jar_name }}" alt="{{ image.comment }}"
                             class="rounded img-fluid small-jar-img">
                        <input hidden value="{{ image.jar_number }}">
                        <input class="decorator" hidden value="{{ image.decorator }}">
                        <input class="status" hidden value="{{ image.jar_status }}">
                    </li>
                
                    {% endfor %}


                </ul>
                <button type="button" id="goToPrevSlide" class="btn btn-outline-secondary btn-subscribe">Prev</button>
                <button type="button" id="goToNextSlide" class="btn btn-outline-secondary btn-subscribe">Next</button>


            </div>
            {% with url_name=request.resolver_match.url_name %}
            {% if url_name == 'album' %}
            <!-- <a style="text-decoration: none;" href="historic/"><button type="button" class="btn btn-primary btn-lg btn-block">Historic Album</button></a>-->
            {% else %}
            <a style="text-decoration: none;" href="/album"><button type="button" class="btn btn-primary btn-lg btn-block">Main Album</button></a>
            {% endif %}
            {% endwith %}
        </div>


        <div class="col-md-4 mt-2">

            {% include "newsletter/subscribe.html" %}

            {% include "blog/updates.html" with posts=posts %}


        </div>
    </div>
</div>



{% include "wishlist/added-to-wishlist-modal.html" with jar=jar %}

{% include "wishlist/wishlistmodal.html" %}

{% endblock %}